*{
    font-family: Roboto,cursive;
    background: none;
    color:#F4E6D9;
}

a {
    text-decoration: none;
    color:#F4E6D9;
}

.container-big-card {
    width: 100%vw;
    height: 550px;
    position: relative;
    background-image: url('https://img.freepik.com/fotos-premium/arvore-crescendo-em-vaso-digital-eco-tecnologia-e-convergencia-tecnologica-computacao-verde-tecnologia-verde-ti-verde-csr-e-conceito-de-etica-em-ti_505353-368.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.content-big-card {
    width: 50%;
    margin-left: 70px;
    margin-bottom: 40px;
    position: absolute;
    bottom:0;
}

.info-big-card {
    display: flex;
    align-items: center;
}

.info-big-card > span {
    margin-right: 10px;
    background-color: #00ff00;
    color:black;
    padding:5px;
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.info-big-card > p {
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

p{
    font-size: 14px;
}