<div class="container-big-card">
    <div class="content-big-card">
        <div class="info-big-card">
            <span>TECHNOLOGY</span>
            <p>Sam Cooper</p>
            <p>|</p>
            <p>September 23, 2021</p>
        </div>
        <div class="news-big-card">
            <h1><a href="#">Canada's cyber agency dismantling fake government coronavirus pandemic response websites</a></h1>
            <p>Canadian intelligence agencies are fighting against attempts to exploit the coronavirus pandemic.</p>
        </div>
    </div>
</div>