<app-menu-bar></app-menu-bar>
<app-big-card 
    cardTitle="TI Verde: a tecnologia empresarial pode ser social e ambiental?"
    cardDescription="O impulso das iniciativas ambientais, sociais e de governança tem apresentado uma grande prioridade de organizações no desenvolvimento sustentável"
    cardAuthor="Marcelo Araújo"
    cardDate="06 de dezembro de 2022"
    cardCategory="Ambiente"
></app-big-card>
<div class="bar-small-card">
    <app-small-card
        cardTitle="WhatsApp libera recurso para você usar um avatar como foto de perfil; veja como fazer"
        cardDescription="Personagem virtual também pode ser enviado como figurinha em conversas. Para o aplicativo, recurso ajuda usuários a se expressarem e dá mais privacidade, pois oferece alternativa para uso de foto real."
        cardCategory="Tecnologia"
        ></app-small-card>
        <app-small-card
        cardTitle="Retrospectiva Spotify 2022: como saber que músicas você mais ouviu"
        cardDescription="Plataforma de streaming de áudio exibe um 'resumão' do ano musical do usuário no especial 'Spotify Wrapped 2022'."
        cardCategory="Música"
        ></app-small-card>
        <app-small-card
        cardTitle="Golpes digitais cresceram 20% no país"
        cardDescription="Golpistas recorrem aos canais de contato mais pessoais dos usuários para solicitar informações confidenciais ou realizar transações enganosas. Veja dicas de segurança e muito mais"
        cardCategory="Segurança"
        ></app-small-card>
        <app-small-card
        cardTitle="O que a autópsia de um boto revelou sobre poluição marinha"
        cardDescription="O ruído e a poluição química dos nossos oceanos estão prejudicando a capacidade de navegar, comunicar-se e detectar perigos dos mamíferos marinhos"
        cardCategory="Ambiente"
        ></app-small-card>
</div>
<div class="section-news-card">
    <app-news-card 
        cardTitle="Spotify, Deezer, Apple Music e YouTube: como saber que músicas você mais ouviu em 2022"
        cardDescription="Principais serviços de streaming de músicas exibem as faixas, álbuns e os podcasts mais ouvidos pelos assinantes este ano."
        cardPhoto="../../assets/img/news1.jpg"
        cardCategory="Música"
    ></app-news-card>
    <app-news-card 
        cardTitle="Aplicativo usa fotos reais para criar avatares com Inteligência Artificial; saiba como usar"
        cardDescription="Lensa se tornou um dos aplicativos mais baixados da Google Play e Apple Store, nos últimos dias. Veja o passo a passo para criar os avatares."
        cardPhoto="../../assets/img/news2.jpg"
        cardCategory="Tecnologia"
    ></app-news-card>
    <app-news-card 
        cardTitle="Meta recebe multa bilionária na Europa por não proteger dados de usuários"
        cardDescription="Valor aplicado à gigante das redes sociais será de 265 milhões de euros, depois de investigação concluir que coleta automatizado expôs dados de mais de 530 milhões de usuários."
        cardPhoto="../../assets/img/news3.jpg"
        cardCategory="Segurança"
    ></app-news-card>
</div>

