<div class="container-menu">
    <div class="search-btn">
        <img src="https://cdn-icons-png.flaticon.com/128/709/709592.png">
    </div>
    <div class="items-menu">
        <ul>
            <li><a href="#">MÚSICA</a></li>
            <li><a href="#">TECNOLOGIA</a></li>
            <li><a href="#">SEGURANÇA</a></li>
            <li><a href="#">AMBIENTE</a></li>
        </ul>
    </div>
    <div class="menu-right">
        <img src="https://cdn-icons-png.flaticon.com/128/4204/4204600.png">
    </div>
</div>
